<div class="container mt-5">
  <div class="d-flex align-items-center mb-3">
    <label for="app-status" class="form-label me-2 fw-bold text-secondary">
      Estado de la solicitud:
    </label>
    <span class="badge px-3 py-1.5 fs-6" [ngClass]="{
      'bg-success': appStatus === 'accepted',
      'bg-warning text-dark': appStatus === 'pending',
      'bg-danger': appStatus === 'rejected'
    }">
      {{ appStatus | titlecase }}
    </span>
  </div>


  <div class="card shadow mt-3">
    <div class="card-header text-white">
      <h5 class="mb-0">Tu progreso en el servicio social</h5>
    </div>
    <div class="card-body">

      <p class="mb-1">Entrega de documentos<span class="float-end">{{ entregaDocumentos }}%</span></p>
      <div class="progress mb-3">
        <div class="progress-bar bg-success" role="progressbar" [style.width]="entregaDocumentos + '%'" [attr.aria-valuenow]="entregaDocumentos" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <p class="mb-1">Entrega de reportes <span class="float-end">{{ entregaReportes }}%</span></p>
      <div class="progress mb-3">
        <div class="progress-bar bg-info" role="progressbar" [style.width]="entregaReportes + '%'" [attr.aria-valuenow]="entregaReportes" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <p class="mb-1">Horas trabajadas <span class="float-end">{{ horasTrabajadas }}%</span></p>
      <div class="progress mb-3">
        <div class="progress-bar bg-warning" role="progressbar" [style.width]="horasTrabajadas + '%'" [attr.aria-valuenow]="horasTrabajadas" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

    </div>
  </div>
</div>