button {
    background-color: #D5A521;
    border: none;
}

button:hover,
button:focus,
button:active,
button:focus:active,
button:focus-visible,
button:not(:disabled):not(.disabled):active {
    background-color: #E5C56D !important;
    box-shadow: none !important;
}

