<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="student-card pulsating-border">
                <div class="student-card-header text-white">
                    Perfil del alumno
                </div>
                <div class="student-card-body text-center">
                    <div class="student-info border-bottom">
                        <strong>Nombre</strong> 
                        <p>Fulanito de Tal</p>
                    </div>
                    <div class="student-info border-bottom">
                        <strong>Programa educativo</strong> 
                        <p>Ingeniero en Ciencias de la Computación</p>
                    </div>
                    <div class="student-info border-bottom">
                        <strong>Campus</strong> 
                        <p>Chihuahua</p>
                    </div>
                    <div class="student-info">
                        <strong>Modalidad</strong> 
                        <p>Presencial</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
