<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="student-card pulsating-border">
                <div class="student-card-header text-white">
                    Perfil del alumno
                </div>
                <div class="student-card-body text-center">
                    <div class="student-info border-bottom">
                        <strong>Nombre</strong>
                        <p>{{ nombreCompleto }}</p>
                    </div>
                    <div class="student-info border-bottom">
                        <strong>Programa educativo</strong>
                        <p>{{ carrera }}</p>
                    </div>
                    <div class="student-info border-bottom">
                        <strong>Facultad</strong>
                        <p>{{ facultad }}</p>
                    </div>
                    <div class="student-info">
                        <strong>Campus</strong>
                        <p>{{ campus }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>