#wrapper {
  display: flex;
  flex: 1;
  align-items: stretch;
  height: 100%;
  overflow: hidden;
}

.d-flex.flex-column {
  height: 100vh;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#wrapper.toggled #sidebar-wrapper {
<<<<<<< Updated upstream
  margin-left: -240px;
=======
  margin-left: -248px;
>>>>>>> Stashed changes
}
